@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Sulphur+Point:wght@300;400;700&display=swap");

:root {
  --bgcolor: #eeebe6;
  --normal: #a8a77a;
  --fire: #ee8130;
  --water: #6390f0;
  --electric: #f7d02c;
  --grass: #7ac74c;
  --ice: #96d9d6;
  --fighting: #c22e28;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --flying: #a98ff3;
  --psychic: #f95587;
  --bug: #a6b91a;
  --rock: #b6a136;
  --ghost: #735797;
  --dragon: #6f35fc;
  --dark: #705746;
  --steel: #b7b7ce;
  --fairy: #d685ad;
}

body {
  background-color: #292a30;
  color: var(--bgcolor);
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.card-title,
.card-text {
  color: var(--bgcolor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bgcolor);
  font-weight: bold;
}

input[type="checkbox"]:checked {
  background: var(--ghost) !important;
  border: none;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  color: #fff;
  position: relative;
  top: -2px;
  left: 3px;
}

/* range slider circle color */
input[type="range"]::-webkit-slider-thumb {
  border-radius: 2px;
  background: var(--ghost) !important;
}

input[type="range"]::-moz-range-thumb {
  background: var(--ghost) !important;
}

input[type="range"]::-ms-thumb {
  background: var(--ghost) !important;
}

input#floatingInput.form-control {
  min-width: 20vw;
  @media screen and (max-width: 576px) {
    max-width: 80vw;
  }
}

.button {
  background-color: var(--ghost) !important;
  border-radius: 0px;
  border: none;
  margin-left: 30px;
  width: 100px;
  height: 50px;
}

.search-button,
.search-button:visited {
  background-color: #fff !important;
  border-radius: 7px;
  border-left: none;
  border-right: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6ee !important;
  border-bottom: 1px solid #dee2e6 !important;
  margin-left: -10px !important;
}

.search-button:hover,
.search-button:active {
  background-color: #fff !important;
  border-radius: 7px;
  border-left: none;
  border-right: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6ee !important;
  border-bottom: 1px solid #dee2e6 !important;
  margin-left: -10px !important;
}

.title-link,
.title-link:visited,
.title-link:hover,
.title-link:active {
  color: var(--bs-body-color) !important;
}

.bi.bi-search {
  color: #dee2e6;
}

.bi.bi-search:hover {
  color: #595c5f;
  transition: 0.5s ease-in-out;
}

a:link,
a:visited {
  color: var(--ghost);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--flying);
  transition: 0.8s ease;
}

.button:hover {
  background-color: var(--flying) !important;
  border: none !important;
}

.button:active {
  background-color: var(--ghost) !important;
  border: none !important;
}

.my-3.card {
  border: none !important;
  background-color: transparent !important;
}

.card-text {
  margin-bottom: 0px;
}

.card-image {
  transition: transform 0.5s ease !important;
}

.card-image:hover {
  transform: translateY(-15px);
}

.card-img-top:hover {
  cursor: pointer;
}

/* need to fix */
.main-filter {
  position: fixed;
  top: inherit;
}

/* need to fix */
.results-button {
  position: fixed;
  top: 730px;
}

.results-individual {
  margin-top: 10vh;
  margin-left: 0;
}

.clear-button {
  margin-left: 0;
  margin-top: 0;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
}

.num-results-button {
  margin-left: 0;
  margin-top: 0;
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #dee2e6 !important;
  border-right: none !important;
}

.no-caret::after {
  display: none !important;
}

div.dropdown-menu.show {
  border-radius: 0px;
}

div > form.my-3 {
  max-width: 65vw;
  padding: 0 25px 0 25px;
}

.individual-image-col {
  min-height: auto;
}

.individual-page-image {
  width: 100%;
}

.list {
  margin-left: 30px;
}

.second-row {
  margin-top: 30px;
}

div.list > p {
  margin-bottom: 0;
}

.list > p:last-child {
  margin-bottom: 8px;
}

/* mobile styles */
@media only screen and (max-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-weight: bold;
  }

  a > h1 {
    color: var(--bgcolor);
  }

  input#floatingInput.form-control {
    max-width: 80vw;
  }

  .button {
    margin-top: 30px;
  }

  .btn.mobile-filter,
  .btn.mobile-filter:visited {
    background-color: var(--ghost) !important;
    border-radius: 0px;
    border: none;
    color: #fff;
    width: 40px;
    height: 40px;
  }

  .btn.mobile-filter:hover,
  .btn.mobile-filter:active {
    background-color: var(--flying) !important;
    border-radius: 0px;
    color: #fff;
  }

  .results-button {
    display: none;
  }

  .results-button-mobile {
    margin: 0 0 0 10px;
    width: 50px;
    height: 40px;
  }

  .main-filter {
    display: none;
  }

  .no-caret::after {
    display: none !important;
  }

  .individual-image-col {
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .individual-page-image {
    width: 100%;
  }
  div.first-row.row {
    padding: 25px 0 25px 0;
  }

  .center-for-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .results-individual {
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .btn.mobile-filter,
  .btn.mobile-filter:visited {
    display: none;
  }

  .btn.mobile-filter:hover,
  .btn.mobile-filter:active {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .results-button-mobile {
    display: none;
  }
}
