@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Sulphur+Point:wght@300;400;700&display=swap");

:root {
  --normal: #a8a77a;
  --fire: #ee8130;
  --water: #6390f0;
  --electric: #f7d02c;
  --grass: #7ac74c;
  --ice: #96d9d6;
  --fighting: #c22e28;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --flying: #a98ff3;
  --psychic: #f95587;
  --bug: #a6b91a;
  --rock: #b6a136;
  --ghost: #735797;
  --dragon: #6f35fc;
  --dark: #705746;
  --steel: #b7b7ce;
  --fairy: #d685ad;
}

body {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

input#floatingInput.form-control {
  min-width: 20vw;
  @media screen and (max-width: 576px) {
    max-width: 80vw;
  }
}

.button {
  background-color: var(--ghost) !important;
  border-radius: 0px;
  border: none;
  margin-left: 30px;
  width: 100px;
  height: 50px;
  @media screen and (max-width: 576px) {
    margin-top: 30px;
  }
}

.search-button {
  background-color: #fff !important;
  border-radius: 7px;
  border-left: none;
  border-right: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6ee !important;
  border-bottom: 1px solid #dee2e6 !important;
  margin-left: -10px !important;
}

.search-button:hover,
.search-button:active {
  background-color: #fff !important;
  border-radius: 7px;
  border-left: none;
  border-right: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6ee !important;
  border-bottom: 1px solid #dee2e6 !important;
  margin-left: -10px !important;
}

.bi.bi-search {
  color: #dee2e6;
}

.bi.bi-search:hover {
  color: #595c5f;
  transition: 0.5s ease-in-out;
}

a:link,
a:visited {
  color: var(--ghost);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--flying);
  transition: 0.8s ease;
}

.button:hover {
  background-color: var(--flying) !important;
  border: none !important;
}

.button:active {
  background-color: var(--ghost) !important;
  border: none !important;
}

.my-3.card {
  border: none !important;
  background-color: transparent !important;
}

.card-text {
  margin-bottom: 0px;
}

.card-image {
  transition: width 5s ease, 0.8s ease-in-out !important;
}

.card-image:hover {
  box-shadow: 0 0 50px 25px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  rotate: 1deg;
  width: 102%;
  z-index: 1;
}

.results-button {
  position: fixed;
  left: 4%;
  bottom: 5%;
  z-index: 2;
}

.filter.col-lg-2 {
  @media screen and (max-width: 576px) {
    display: none;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #dee2e6 !important;
  border-right: none !important;
}

.filter-form {
  position: sticky;
  top: 16px;
}
